@model LownSlow.Models.RecipeViewModels.RecipeCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Title" class="control-label"></label>
                <input asp-for="Recipe.Title" class="form-control" />
                <span asp-validation-for="Recipe.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Description" class="control-label"></label>
                <input asp-for="Recipe.Description" class="form-control" />
                <span asp-validation-for="Recipe.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.TechniqueId" class="control-label"></label>
                <select asp-for="Recipe.TechniqueId" class="form-control" asp-items="Model.TechOptions"></select>
                <span asp-validation-for="Recipe.TechniqueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
