@model IEnumerable<LownSlow.Models.Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h1>Ingredients</h1>
<div class="card">
    <p>
        <a asp-action="Create">Create a New Ingredient</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IngredientId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>