@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Low-n-Slow</h1>
    
    <div class="landing-image">
        <img src="~/images/brisket.jpg" alt="Brisket"/>
    </div>
</div>
